:root {
    --header-height: 70px;
}

.navigation-panel {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 1000;
    
    background: linear-gradient(to bottom, #ffdb00, #ff7300);
    text-align: center;
    
    height: var(--header-height);

    display: flex;
    justify-content: flex-end;
    align-items: center;
    padding: 0 0px;
    
    opacity: 1 !important;
    animation: none !important;
}

.navigation-panel button {
    background-color: #067AFFC3;
    border: none;
    color: white;
    padding: 10px 20px;
    margin: 0 5px;
    border-radius: 4px;
    cursor: pointer;
    font-size: 16px;
    transition: 250ms;
}

.navigation-panel button:hover {
    background-color: #067aff;
}