@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;600;700&family=JetBrains+Mono:wght@400;500;600&display=swap');

* {
    font-family: 'Inter', serif !important;
}

body:not(.navigation-panel) {
    animation: bodyFadeIn 1s ease forwards;

    background: linear-gradient(to bottom, #667eea, #851bdb);

    min-height: 100vh;
    margin: 0;
    padding: var(--header-height);
    color: white;
}

@keyframes bodyFadeIn {
    to {
        opacity: 1;
    }
}

body>*:not(.navigation-panel) {
    opacity: 0;
    animation: slideUp 1s ease forwards;
}

.content {
    margin-left: 25%;
    margin-right: 25%;
}

div[InstallButton] button {
    border-radius: 15px;
    background-color: rgba(0, 255, 113, 0.39);
    border: none;
    color: white;
    padding: 10px 20px;
    margin: 0 5px;
    cursor: pointer;
    font-size: 16px;
    transition: 250ms
}

@keyframes slideUp {
    from {
        opacity: 0;
        transform: translateY(50px);
    }

    to {
        opacity: 1;
        transform: translateY(0);
    }
}