:root {
  --background-gradient1: rgb(38, 30, 44);
  --background-gradient2: rgb(27, 27, 27);
  --borders-color: rgb(49, 49, 49);
}

body {
  background-color: var(--background-color);
  margin: 0;
  padding: 0;
}

.sections-container {
  display: flex;
  align-items: stretch;
  min-height: 100vh;
}

.section {
  margin: 0;
  padding: 0;
  display: block;
}

.section.tabs {
  min-width: 200px;
  height: 100vh;
  width: 200px;
  border-right: solid var(--borders-color);
  border-width: 1px;
}

.section.main {
  width: 120%;
  border-right: solid var(--borders-color);
  border-width: 1px;
  flex-grow: 1;
}

.section.track-info {
  min-width: 400px;
  margin-left: auto;
}

.section.playback-controll {
  justify-content: center;
  align-items: center;
  white-space: nowrap;

  display: flex;
  position: fixed;

  padding-bottom: 5px;
  padding-top: 5px;

  bottom: 0;
  left: 1%;
  right: 1%;
  z-index: 100;

  border-radius: 15px;

  border: solid var(--borders-color);
  border-width: 2px;
  
  transition: all 0.2s ease;

  filter: brightness(50%);

  background: linear-gradient(130deg, var(--background-gradient1), 1%, var(--background-gradient2));
}

.section.playback-controll:hover {
  filter: brightness(1);
}