:root {
  --background-color: rgb(46, 46, 46);
  --borders-color: rgb(129, 129, 129);
  --tabs-background-color: rgb(61, 61, 61);
  --main-background-color: rgb(31, 31, 31);
  --track-info-background-color: rgb(41, 41, 41);
  --playback-background-color: rgb(73, 73, 73);
}

body {
  background-color: var(--background-color);
  margin: 0;
  padding: 0;
}

.sections-container {
  display: flex;
  align-items: stretch;
  min-height: 100vh;
}

.section {
  padding: 5px;
  display: block;
  white-space: nowrap;
}

.section.tabs {
  padding-right: 100px;
  border-right: solid var(--borders-color);
  background-color: var(--tabs-background-color);
}

.section.main {
  border-right: solid var(--borders-color);
  background-color: var(--main-background-color);
  flex-grow: 1;
}

.section.track-info {
  padding-right: 200px;
  background-color: var(--track-info-background-color);
}

.section.playback-controll {
  justify-content: center;
  align-items: center;
  white-space: nowrap;

  display: flex;
  background-color: var(--playback-background-color);
  position: fixed;
  padding-bottom: 50px;
  padding-top: 50px;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 100;

  border-radius: 10px;

  border-top: solid var(--borders-color);
  
  transform: translateY(70%);
  transition: all 0.2s ease;

  filter: blur(400px);
  filter: brightness(50%);
}

.section.playback-controll:hover {
  transform: translateY(0%);
  filter: blur(0px);
  filter: brightness(1);
}